@font-face {
  font-family: ArialNarrow;
  src: url(styles/ARIALN.TTF) format("truetype"); }
html, body {
  min-width: 1024px;
  padding: 0px;
  margin: 0px; }

.container {
  position: relative;
  width: 1024px;
  height: 100%;
  margin: 0 auto; }

.container:before, .container:after {
  display: table;
  content: "";
  line-height: 0; }

.container:after {
  clear: both; }

.wrapper {
  background: #fefeff;
  background: url(img/content.jpg) no-repeat 50% 50%;
  background-size: cover; }
  .wrapper .header {
    background: url(img/header.png) no-repeat 0% 50%;
    height: 211px;
    background-size: cover; }
    .wrapper .header h1 {
      font-family: "ArialNarrow", sans-serif;
      font-size: 32px;
      color: #2d509b;
      margin: 0px;
      padding-top: 30px;
      padding-left: 60px; }
  .wrapper .content {
    padding-bottom: 50px; }
    .wrapper .content .biggest__circle {
      margin-top: -40px;
      width: 315px;
      height: 315px;
      background: #f2d5b7;
      border-radius: 50%;
      margin-left: 20%;
      position: relative; }
      .wrapper .content .biggest__circle .number {
        position: absolute;
        bottom: 60px;
        right: 60px;
        font-family: "ArialNarrow", sans-serif;
        font-size: 60px;
        color: #ffffff; }
      .wrapper .content .biggest__circle .middle__circle {
        width: 202px;
        height: 202px;
        background: #dd7628;
        border-radius: 50%;
        margin-left: 20%;
        position: absolute;
        top: 22px;
        left: -50px; }
        .wrapper .content .biggest__circle .middle__circle .text__box {
          line-height: 202px;
          text-align: center;
          font-family: "ArialNarrow", sans-serif;
          font-size: 53px;
          color: #ffffff; }
      .wrapper .content .biggest__circle .smaller__circle {
        width: 140px;
        height: 140px;
        background: #deb682;
        border-radius: 50%;
        margin-left: 20%;
        position: absolute;
        top: 45px;
        right: 10px; }
        .wrapper .content .biggest__circle .smaller__circle .text__box {
          line-height: 140px;
          text-align: center;
          font-family: "ArialNarrow", sans-serif;
          font-size: 40px;
          color: #ffffff; }
    .wrapper .content .info__items {
      list-style-type: none; }
      .wrapper .content .info__items li {
        margin-bottom: 50px; }
      .wrapper .content .info__items .text--items__box {
        display: inline-block;
        font-family: "ArialNarrow", sans-serif;
        font-size: 24px;
        color: #d0691c;
        width: 150px; }
      .wrapper .content .info__items .scroll__box {
        width: 355px;
        height: 17px;
        background: #d4dced;
        background-size: cover;
        position: relative;
        display: inline-block; }
        .wrapper .content .info__items .scroll__box .marker_1 {
          position: absolute;
          left: 0px;
          height: 100%;
          width: 96%;
          background: #f2d5b7; }
        .wrapper .content .info__items .scroll__box .marker_1:after {
          display: block;
          content: "12";
          float: right;
          height: 65px;
          width: 53px;
          padding-top: 0px;
          margin-right: -15px;
          margin-top: -21px;
          line-height: 0px;
          background: url(img/marker-1.png) no-repeat 50% 50%;
          font-family: "ArialNarrow", sans-serif;
          font-size: 28px;
          color: #d0691c;
          text-align: center; }
        .wrapper .content .info__items .scroll__box .marker_2 {
          position: absolute;
          left: 0px;
          height: 100%;
          width: 50%;
          background: #dd7628; }
        .wrapper .content .info__items .scroll__box .marker_2:after {
          display: block;
          content: "6";
          float: right;
          height: 65px;
          width: 53px;
          padding-top: 0px;
          margin-right: -15px;
          margin-top: -21px;
          line-height: 0px;
          background: url(img/marker-2.png) no-repeat 50% 50%;
          font-family: "ArialNarrow", sans-serif;
          font-size: 28px;
          color: #d0691c;
          text-align: center; }
        .wrapper .content .info__items .scroll__box .marker_3 {
          position: absolute;
          left: 0px;
          height: 100%;
          width: 26%;
          background: #deb682; }
        .wrapper .content .info__items .scroll__box .marker_3:after {
          display: block;
          content: "3";
          float: right;
          height: 65px;
          width: 53px;
          padding-top: 0px;
          margin-right: -15px;
          margin-top: -21px;
          line-height: 0px;
          background: url(img/marker-3.png) no-repeat 50% 50%;
          font-family: "ArialNarrow", sans-serif;
          font-size: 28px;
          color: #d0691c;
          text-align: center; }
        .wrapper .content .info__items .scroll__box .bullits {
          position: absolute;
          width: 100%;
          height: 100%;
          background: url(img/bullits.png) no-repeat 50% 50%; }

/*# sourceMappingURL=style.css.map */
